.taskform {
    margin: 0;
    padding: 0;
}

.taskform h3 {
    margin: 0 0 1em;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="url"],
input[type="range"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--bordercolor);
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--highlight);
}

.inputBox {
    position: relative;
}

input[type="range"] {
    border: 0px;
}

input[type="date"],
input[type="time"],
input[type="number"],
input[type="range"],
input[type="checkbox"],
input[type="radio"],
.taskform label {
    cursor: pointer;
}

textarea {
    min-height: 90px;
    padding: 1em 0.75em;
    resize: none;
    box-sizing: border-box;
}

textarea::placeholder {
    font-size: 16px;
    transform: translateY(15px);
    display: block;
}

.inputRange input[type="range"] {
    padding: 0;
    margin: 0;
}

.inputRange p {
    margin: 0;
    text-align: center;
}

.taskTypes p,
.statusTypes p {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.taskTypes input[type="checkbox"],
.statusTypes input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 0.3em;
}

/*floating label*/
.inputBox .floatLabel {
    position: absolute;
    top: -5px;
    left: 10px;
    padding: 0 3px;
    color: var(--highlight);
    font-size: 12px;
    background-color: var(--white);
}

.checkRadioWrap {
    display: inline-flex;
    align-items: center;
    gap: 0.3em;
    margin: 0 0 0.5em;
    margin-right: 1.5em;
}

/* autofill blue bg remove for input fields*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px var(--white) inset;
}

.titleIcon {
    font-size: 1em;
    color: #F48F68;
}

.box {
    padding-bottom: 0.5em;
}

.inputBox {
    padding-bottom: 0.5em;
}

.errorMessage {
    margin-top: 0.2em;
    min-height: 18px;
}

/* custom validation error styles */
.errorBlock {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    color: red;
    padding: 0;
}


@media(min-width : 601px) and (max-width: 1024px) {
    .taskTypes {
        display: flex;
        gap: 2.3em;
        align-items: center;
    }

    .taskTypes p {  
        padding-right: 2em;
    }

    .statusTypes p {
        padding-right: 3.6em;
    }

    .statusTypes {
        display: flex;
        align-items: center;
        gap: 2.1em;
    }
}