.taskform {
    margin: 0;
    padding: 0;
}

.taskform h3 {
    margin: 0;
}
.taskHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.submitResetBtns{
    display: flex;
    gap: 0.5em;
}
.submitResetBtns button{
    font-size: 18px;
    padding: 0.3em;
    border: none;
    background: var();
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.submitResetBtns button:nth-child(1){
    color: var(--low);
    &:hover{
        background: var(--low);
        color: var(--white);
    }
}
.submitResetBtns button:nth-child(2){
    color: #D51C39;
    &:hover{
        background: #CB2957;
        color: var(--white);
    }
}
.resetBtn button{
    border: none;
    font-size: 1.2em;
    padding: 0.2em;
    color: black;
    border-radius: 50%;
    background: #ebe7e7;
    cursor: pointer;

    &:hover {
        color: var(--white);
        background: black;
    }
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="url"],
input[type="range"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--bordercolor);
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--highlight);
}

.inputBox {
    position: relative;
}

input[type="range"] {
    border: 0px;
}

input[type="date"],
input[type="time"],
input[type="number"],
input[type="range"],
input[type="checkbox"],
input[type="radio"],
.taskform label {
    cursor: pointer;
}

textarea {
    min-height: 90px;
    padding: 1em 0.75em;
    resize: none;
    box-sizing: border-box;
}

textarea::placeholder {
    font-size: 16px;
    transform: translateY(15px);
    display: block;
}

.inputRange input[type="range"] {
    padding: 0;
    margin: 0;
}

.inputRange p {
    margin: 0;
    text-align: center;
}

.taskTypes p,
.statusTypes p {
    margin: 0 0 0.5em 0;
    padding: 0;
}

.taskTypes input[type="checkbox"],
.statusTypes input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 0.3em;
}

/*floating label*/
.inputBox .floatLabel {
    position: absolute;
    top: -5px;
    left: 10px;
    padding: 0 3px;
    color: var(--highlight);
    font-size: 12px;
    background-color: var(--white);
}

.checkRadioWrap {
    display: inline-flex;
    align-items: center;
    gap: 0.3em;
    margin: 0 0 0.5em;
    margin-right: 1.5em;
}

/* autofill blue bg remove for input fields*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px var(--white) inset;
}

.titleIcon {
    margin-right: 0.2em;
    font-size: 1.2em;
    color: #F48F68;
}

.box {
    padding-bottom: 0.5em;
}

.inputBox {
    padding-bottom: 0.5em;
}

.errorMessage {
    margin-top: 0.2em;
    min-height: 18px;
}

/* custom validation error styles */
.errorBlock {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    color: red;
    padding: 0;
}


@media(min-width : 601px) and (max-width: 1024px) {
    .taskTypes {
        display: flex;
        gap: 2.3em;
        align-items: center;
    }

    .taskTypes p {  
        padding-right: 2em;
    }

    .statusTypes p {
        padding-right: 3.6em;
    }

    .statusTypes {
        display: flex;
        align-items: center;
        gap: 2.1em;
    }
}

@media(min-width: 601px) and (max-width: 728px){
    .taskTypes, .statusTypes{
        gap: 0;
        padding: 0;
    }
    .taskTypes p{
        padding-right: 0.5em;
    }
    .statusTypes p{
        padding-right: 2em;
    }
}

@media(min-width: 1484px) and (max-width: 2000px){
    .statusTypes, .taskTypes{
        width: 370px;
    }
}