.taskButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0em;
    padding: 0 1.2em;
    gap: 1em;
}

.taskButtons button, .editTaskButtons button {
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    transition: 0.2s ease;
    padding: 1.2em 0.5em;
    width: fit-content;
    min-width: unset;
    padding: 1.2em;
}

.createBtn,
.updateBtn {
    padding: 1em 0;
    color: white;
    background-color: var(--highlight);
}

.createBtn:hover,
.updateBtn:hover {
    background-color: rgb(61, 61, 230);
}

.resetBtn,
.cancelBtn {
    padding: 1em 0;
    color: black;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
}

.resetBtn:hover,
.cancelBtn:hover {
    background-color: rgb(210, 210, 210);
}

.icon {
    font-size: 1.2em;
}
.editTaskButtons{
    gap: 1em;
}
.updateBtn{
    margin-right: 0.5em;
}


@media (min-width: 601px) and (max-width: 1000px) {
    .taskButtons {
        gap: 1em;
        justify-content: center;
    }
    .taskButtons button{
        margin: 0;
        padding: 1.2em 0.8em;
    }
}

@media (min-width : 1001px)  and (max-width : 1250px){
    .taskButtons{
        gap: 2.5em;
        justify-content: center;
    }
    .taskButtons button{
        margin: 0;
        padding: 1.2em 0.5em;
    }
    .createBtn, .updateBtn{
        width: 140px;
    }
    .resetBtn,.cancelBtn{
        width: 100px;
    }

}

@media (max-width: 600px) {
    .taskButtons {
        margin: 0;
        padding: 0;
        gap: 2em;
        justify-content: center;
    }

    .taskButtons button{
        padding: 1.2em 0.8em;
    }
    .editTaskButtons button{
        width: fit-content;
        max-width: unset;
        padding: 1em 0.5em;
    }
}