.formSection {
    background-color: var(--white);
    padding: 1.5em 2em;
    border-radius: 10px;
    box-shadow:
        0px 0px 2px rgba(0, 0, 0, 0.2),
        /* top shadow */
        0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.tasksSection {
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow:
        0px 0px 2px rgba(0, 0, 0, 0.2),
        /* top shadow */
        0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.emptyState {
    margin: 20%;
    text-align: center;
}