.footerContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 4em;
    margin-top: 3em;
    box-shadow: 0 -1px 1px var(--boxshadow);
}

.footerContainer h4 {
    color: #000;
    margin-bottom: 1.5em;
}

footer {
    color: var(--gray);
}

footer hr {
    width: 80%;
    margin: 0 auto;
}

.footerContainer li {
    list-style-type: none;
    margin-bottom: 1em;
}

.footerContainer ul {
    padding: 0;
}

.copyRights {
    height: 10vh;
    text-align: center;
}

.heartIcon {
    color: #FF4081;
}

.footerContainer ul li:hover {
    cursor: pointer;
    color: var(--highlight);
    text-decoration: underline;
}
/* mobile view */
@media (max-width: 768px) {

    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerContainer h4 {
        margin-bottom: 0.8em;
    }

    .copyRights {
        padding: 1em;
        height: auto;
    }

    .copyRights p {
        font-size: 0.9em;
        line-height: 1.5;
    }

    footer hr {
        width: 90%;
    }
}

/* Tab view */
@media (min-width: 769px) and (max-width: 1024px) {

    .footerContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footerContainer div {
        text-align: center;
    }
}